@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #d0d8ea;  /* رنگ اصلی تیره */
  --color-secondary: #2D3748; /* رنگ دوم تیره */
  --color-success: #38A169; 
  --color-danger: #F56565; 
  --color-warning: #F6AD55; 
  --color-background: #FFFFFF; /* پس‌زمینه تیره */
  --color-text: #11233b;  /* متن سفید روشن */
}

@layer base {
  .dark {
  --color-primary: #2A3E6A; /* رنگ تیره تر */
  --color-secondary: #6D4C94; 
  --color-success: #2D6A3D; 
  --color-danger: #9B2C2C; 
  --color-warning: #B76C29; 
  --color-background: #18181B; /* پس‌زمینه مشکی */
  --color-text: #E2E8F0; /* متن سفید روشن */
  }
}


@keyframes shrink {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

.animate-\[shrink_5s_linear_forwards\] {
  animation: shrink 5s linear forwards;
}
